<section class="hero page" style="background-image:url(/assets/pages/services/bg.jpg)">
</section>
<section class="services page overall padded closed gray">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 mb-80">
				<div class="explanation"><span>Что мы предлагаем</span></div>
				<div class="separator"><%= render "partials/elements/separator" %></div>
				<div class="heading medium"><span>Веб, который работает</span></div>
			</div>
			<div class="col-md-6">
				<div class="intro medium">
					<span>Мы специализируемся в создании визуальных коммуникаций, сложных систем и крепких связей между вами и вашими клиентами.</span>
				</div>
				<div class="text mt-20">
					<span>
						Мы можем создать все необходимое для вашего бизнеса, не важно, это мобильное приложение, веб сайт или брендинг. К нам обращаются за инновативными, отточенными решениями для бизнеса. Каждый проект, сделанный нами, выглядит и работает отлично не только на мониторе компьютера, но и на планшетах и мобильных телефонах.</br></br>Но на этом мы не останавливаемся, мы продолжим упорно трудиться над вашим проектом, улучшая и осовременивая его, а также помогаем вам продвигать сайт в любых поисковых сервисах и приводим клиентов прямо к вам в руки.
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="services page detailed padded closed">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 mb-80">
				<div class="explanation"><span>Наши услуги</span></div>
				<div class="separator"><%= render "partials/elements/separator" %></div>
				<div class="heading medium"><span>Делаем с душой</span></div>
			</div>
			<div class="col-md-6">
				<div class="row service">
					<div class="col-md-6 mb-80">
						<%= image_tag "pages/services/art/general.png" %>
					</div>
					<div class="col-md-6 mb-80">
						<div class="explanation"><span>С чего бы начать?</span></div>
						<div class="heading small">
							<span>Стратегия</span>
						</div>
						<div class="separator"><%= render "partials/elements/separator" %></div>
						<div class="text">
							<span>О стратегии можно долго и нудно говорить. Мы избавим вас от этого. Мы только спросим вас, каким бы вы хотели видеть свой проект. Все. Нам этого хватит. Мы исследуем рынок, строим стратегию развития бренда, создаем архитектуру информации, и консультируем.</span>
						</div>
					</div>
				</div>
				<div class="row service">
					<div class="col-md-6 mb-80">
						<%= image_tag "pages/services/art/old-dude.png" %>
					</div>
					<div class="col-md-6 mb-80">
						<div class="explanation"><span>Наш бренд — самый лучший в мире бренд</span></div>
						<div class="heading small">
							<span>Брендинг</span>
						</div>
						<div class="separator"><%= render "partials/elements/separator" %></div>
						<div class="text">
							<span>Брендинг, важен. Мы сделаем все, что поможет выделить ваш бренд из толпы и, что первым будут вспоминать ваши клиенты. Придумаем яркий запоминающийся логотип, разработаем фирменный стиль и многое другое.</span>
						</div>
					</div>
				</div>
				<div class="row service">
					<div class="col-md-6 mb-80">
						<%= image_tag "pages/services/art/french.png" %>
					</div>
					<div class="col-md-6 mb-80">
						<div class="explanation"><span>Красота спасет мир</span></div>
						<div class="heading small">
							<span>Дизайн</span>
						</div>
						<div class="separator"><%= render "partials/elements/separator" %></div>
						<div class="text">
							<span>Без дизайна сейчас никуда, при этом он должен быть функциональным. Красивейшие страницы иногда могут пленить юзера в своих лабиринтах. Все должно быть просто и со вкусом. Конкретно сюда входит front-end, адаптивный дизайн, графика, полиграфия, UX, UI и прочие красивые вещи.</span>
						</div>
					</div>
				</div>
				<div class="row service">
					<div class="col-md-6 mb-80">
						<%= image_tag "pages/services/art/dev.png" %>
					</div>
					<div class="col-md-6 mb-80">
						<div class="explanation"><span>Код — дело серьезное</span></div>
						<div class="heading small">
							<span>Разработка</span>
						</div>
						<div class="separator"><%= render "partials/elements/separator" %></div>
						<div class="text">
							<span>Back-end. Это работа, которую никто не видит, но без нее ничего попросту не будет работать. Все волшебство творится разработчиками. Они напишут тысячи строк кода, воплотят в жизнь любой функционал, который вы придумаете. Только не обижайте их.</span>
						</div>
					</div>
				</div>
				<div class="row service">
					<div class="col-md-6 mb-80">
						<%= image_tag "pages/services/art/apps.png" %>
					</div>
					<div class="col-md-6 mb-80">
						<div class="explanation"><span>Мой лучший друг — телефон</span></div>
						<div class="heading small">
							<span>Приложения</span>
						</div>
						<div class="separator"><%= render "partials/elements/separator" %></div>
						<div class="text">
							<span>Сейчас мало кто выпускает смартфон из рук. Кто-то говорит, что это плохо.. Но не для нас с вами. Самое время разработать крутое мобильное приложение для ваших пользователей. Мы его сделаем удобным, быстрым, красивым, таким, которое будут открывать каждый день. Крутецким.</span>
						</div>
					</div>
				</div>
				<div class="row service">
					<div class="col-md-6 mb-80">
						<%= image_tag "pages/services/art/carrot.png" %>
					</div>
					<div class="col-md-6 mb-80">
						<div class="explanation"><span>Нестандартный подход</span></div>
						<div class="heading small">
							<span>E-commerce</span>
						</div>
						<div class="separator"><%= render "partials/elements/separator" %></div>
						<div class="text">
							<span>Среди электронной коммерции в наш время большая конкуренция, но не смотря ни на что это того стоит. Но стандартные решения уже не работают так, как работали раньше. Нужно мыслить нестандартно. Мы сделаем такой магазин, который поможет откусить побольше от этого огромного рынка.</span>
						</div>
					</div>
				</div>
				<div class="row service">
					<div class="col-md-6 mb-80">
						<%= image_tag "pages/services/art/cloud.png" %>
					</div>
					<div class="col-md-6 mb-80">
						<div class="explanation"><span>Легко и удобно</span></div>
						<div class="heading small">
							<span>Хостинг</span>
						</div>
						<div class="separator"><%= render "partials/elements/separator" %></div>
						<div class="text">
							<span>Мы с радостью предоставим вам все, что необходимо вам для комфортной работы: хранилища данных, серверное пространство и другое. Мы постоянно следим за стабильностью наших серверов, чтобы ваши сайты всегда находились в сети. Плюс, всегда поможем, если у вас что-то не выходит.</span>
						</div>
					</div>
				</div>
				<div class="row service">
					<div class="col-md-6 mb-80">
						<%= image_tag "pages/services/art/sea.png" %>
					</div>
					<div class="col-md-6">
						<div class="explanation"><span>Не сбиться с курса</span></div>
						<div class="heading small">
							<span>Поддержка</span>
						</div>
						<div class="separator"><%= render "partials/elements/separator" %></div>
						<div class="text">
							<span>Всем нужна рука помощи в нужный момент. Мы ее дадим. А если нужно, то можем дать и с десяток таких рук. Наладим сервер, поменяем то, что вы сами менять не хотите. В общем, всеми способами облегчим вашу жизнь. Также мы с радостью занимаемся апгрейдами ваших проектов.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="next container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="heading large">
				<%= link_to "Цены →", controller: "prices", action: "index" %>
			</div>
		</div>
	</div>
</section>