<div class="hero shrink">
	<div class="slide" style="background-color: #e7e6e8; background-image: url(/assets/projects/nerealty/parallax/background.jpg)">
		<div class="slide-info">
			<div class="heading large">Nerealty</div>
			<div class="separator"><%= render "partials/elements/separator" %></div>
			<div class="intro medium">Площадка для торговли недвижимостью</div>
		</div>
		<div id="scene" class="scene">
			<li class="layer hidden-xs hidden-sm" data-depth="0.3">
				<%= image_tag "projects/nerealty/parallax/1.png", :style => "right:-50%" %>
			</li>
			<li class="layer hidden-xs hidden-sm" data-depth="0.1">
				<%= image_tag "projects/nerealty/parallax/2.png", :style => "left:-30%" %>
			</li>
			<li class="layer hidden-md hidden-lg" data-depth="0.8">
				<%= image_tag "projects/nerealty/parallax/phone.png" %>
			</li>
		</div>
	</div>
</div>
<section class="padded closed">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="heading large"><span>Nerealty</span></div>
			</div>
			<div class="col-md-6">
				<div class="text">
					<span>Нам была поставлена задача сделать удобный сервис поиска и размещения объявлений о купле-продаже любых видов недвижимости на полуострове Крым. В крыму не было современных и простых в использовании решений о поиске и аренде недвижимости, мы решили это исправить.</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block image" style="background-image: url(/assets/projects/nerealty/insides/bg-1.jpg)">
		
	</div>
</section>

<section class="padded closed gray">
	
	<div class="container">
		<div class="block introduction tac">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="heading large"><span>Самая современная площадка</span></div>
				</div>
				<div class="col-md-8 col-md-offset-2 mt-40">
					<div class="intro medium">
						<span>Нашей задачей было создание самой удобной и современной площадки по поиску недвижимости в Крыму</span>
					</div>
				</div>
			</div>
		</div>
		<div class="block mt-80">
			<div class="row">
				<div class="col-md-3 pd-80">
					<div class="heading small"><span>Сайт</span></div>
					<div class="text mt-20 mb-40">По пожеланию заказчика сайт должен был быть максимально простым и удобным. Особенное внимание было уделено фотографиям недвижимости. На сайте была сделана премодерация, цель которой — отправлять объявления с некачественными фото "на доработку". Люди любят глазами, и мы это знали.</div>
				</div>
				<div class="col-md-7 flr">
					<%= image_tag "projects/nerealty/insides/mac-1.jpg" %>
				</div>
			</div>
		</div>
		<div class="block mt-80">
			<div class="row">
				<div class="col-md-3 flr pd-80">
					<div class="heading small"><span>На любом экране</span></div>
					<div class="text mt-20 mb-40">В наш век цифровых технологий некорректное отображение сайта на мобильных устройствах и планшетах можно приравнять к преступлению против пользователей. Количество юзеров, заходящих на сайт с мобильных устройств настолько велико, что это перекрыло все затраты на разработку.</div>
				</div>
				<div class="col-md-7">
					<%= image_tag "projects/nerealty/insides/ipad-1.jpg" %>
				</div>
			</div>
		</div>
		<div class="block mt-80 tac">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="heading small"><span>Удобные формы</span></div>
					<div class="text mt-20 mb-40">Объявления на сайте оставляются не только агенствами, но и простыми людьми, часто далекими от сложных технологий. Нашей задачей было сделать регистрацию, подачу объявлений и их модерирование максимально простыми, такими чтобы с ними мог справиться любой желающий.</div>
				</div>
				<div class="col-md-12">
					<%= image_tag "projects/nerealty/insides/forms-1.jpg" %>
				</div>
			</div>
		</div>
	</div>
</section>